:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



#root {
  width: 100vw;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: auto;
  max-width: 1500px;
  padding: 32px 24px;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 28px;

  height: fit-content;
  max-width: 550px;
}

.general-container {
  display: block;
  flex-direction: column;

  background-color: #fff;
  color: black;
  padding: 18px;
  border-radius: 12px;
}

.general-container h2 {
  margin-bottom: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  gap: 6px;
  margin-bottom: 12px;
}

.input-container input{
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px;
  transition: border .25s, black .25s;
}

.education-button {
  width: 100%;
  background-color: white;
  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.experience-button {
  width: 100%;
  background-color: white;
  color: black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resume-container {
  background-color: white;

  height: 29.7cm;
  width: 21cm;
}
